<template name="Account">
  <div class="app-content-body ">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
      <div style="background:url(img/c4.jpg) center center; background-size:cover">
        <div class="wrapper-lg bg-white-opacity">
          <div class="row m-t">
            <div class="col-sm-7">
              <a class="thumb-lg pull-left m-r" href="">
                <img class="img-circle" src="img/a0.jpg">
              </a>
              <div class="clear m-b">
                <div class="m-b m-t-sm">
                  <span class="h3 text-black">John.Smith</span>
                  <small class="m-l">London, UK</small>
                </div>
                <p class="m-b">
                  <a class="btn btn-sm btn-bg btn-rounded btn-default btn-icon" href=""><i class="fa fa-twitter"></i></a>
                  <a class="btn btn-sm btn-bg btn-rounded btn-default btn-icon" href=""><i class="fa fa-facebook"></i></a>
                  <a class="btn btn-sm btn-bg btn-rounded btn-default btn-icon" href=""><i class="fa fa-google-plus"></i></a>
                </p>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="pull-right pull-none-xs text-center">
                <a class="m-b-md inline m" href="">
                  <span class="h3 block font-bold">2k</span>
                  <small>Followers</small>
                </a>
                <a class="m-b-md inline m" href="">
                  <span class="h3 block font-bold">250</span>
                  <small>Following</small>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper bg-white b-b">
        <div class="row">
          <div class="col-md-6">
            <div class="panel no-border">
              <div class="panel-heading bg-success lt">
                <div class="m-sm">
                  <span class="h4 text-white">Personal Information </span>
                </div> 
              </div> 
              <div class="panel-body bg-light">
                <div class="text-center m-t-md">        
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel no-border">
              <div class="panel-heading bg-info lt">
                <div class="m-sm">
                  <span class="h4 text-white">Address</span>
                </div> 
              </div> 
              <div class="panel-body bg-light">
                <div class="text-center m-t-md">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>