<template name="Account">
  <div class="app-content-body ">
    <div class="hbox hbox-auto-xs hbox-auto-sm">
      <div style="background:url(img/c0.jpg) center center; background-size:cover">
        <div class="wrapper-lg bg-white-opacity">
          <div class="row m-t">
            <div class="col-sm-7">
              <a class="thumb-lg pull-left m-r" href="">
                <img class="img-circle" src="img/b17.jpg">
              </a>
              <div class="clear m-b">
                <div class="m-b m-t-sm">
                {{#if customerInfo}}
                  {{#each customerInfo}}
                    {{#if blockscore}}
                  <span class="h3 text-black">{{firstName}} {{#if blockscore.name_middle}}{{blockscore.name_middle}} {{/if}}{{lastName}}</span>
                  <small class="m-l">{{emailAddress}} </small>
                    {{else}}
              <!--    <span class="h3 text-black">{{nickName}}</span> -->
                  <small class="m-l">{{emailAddress}} </small>
                    {{/if}}
                  {{/each}}
                {{else}}
                  <span class="h3 text-black">{{emailAddress}}</span>
                {{/if}}
                </div>
              </div>
            </div>
            <div class="col-sm-5">

              <div class="pull-right pull-none-xs text-center">
              {{#if customerInfo}}
                {{#each customerInfo}}
                <a class="btn btn-sm btn-bg btn-rounded btn-{{tier1Class}} btn-icon l-h-2x font-bold" href="/verification" title="Verification Progress">1</a>
                <a class="btn btn-sm btn-bg btn-rounded btn-{{tier2Class}} btn-icon l-h-2x font-bold" href="/verification" title="Verification Progress">2</a>
                <a class="btn btn-sm btn-bg btn-rounded btn-{{tier3Class}} btn-icon l-h-2x font-bold" href="/verification" title="Verification Progress">3</a>
                {{/each}}
              {{else}}
                <a class="btn btn-sm btn-bg btn-rounded btn-danger btn-icon l-h-2x font-bold" href="/verification" title="Verification Progress">1</a>
                <a class="btn btn-sm btn-bg btn-rounded btn-danger btn-icon l-h-2x font-bold" href="/verification" title="Verification Progress">2</a>
                <a class="btn btn-sm btn-bg btn-rounded btn-danger btn-icon l-h-2x font-bold" href="/verification" title="Verification Progress">3</a>
              {{/if}}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="wrapper bg-white b-b">
        <div class="row" style="margin:0px">
          <div class="progress">
            <div class="progress-bar progress-bar-success progress-bar-striped active" role="progressbar" aria-valuenow="{{profileCompleted}}" aria-valuemin="0" aria-valuemax="100" style="width: {{profileCompleted}}%">
              <span class="sr-only">{{profileCompleted}}% Complete (success)</span>
            </div>
          </div>
        </div>
        <div class="row">
        {{#if customerInfo}}
          {{#each customerInfo}}
          <div class="col-md-6">
            <div class="panel no-border">
              <div class="panel-heading bg-info lt">
                <div class="m-sm">
                  <span class="h4 text-white">Address</span>
                </div> 
              </div> 
              <div class="panel-body bg-light">
                {{#if blockscore}}
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td>Street</td>
                        <td>{{blockscore.address_street1}}</td>
                      </tr>
                      <tr>
                        <td>City</td>
                        <td>{{blockscore.address_city}}</td>
                      </tr>
                      <tr>
                        <td>State</td>
                        <td>{{blockscore.address_subdivision}}</td>
                      </tr>
                      <tr>
                        <td>Country</td>
                        <td>{{blockscore.address_country_code}}</td>
                      </tr>
                      <tr>
                        <td>Zip/Postal code</td>
                        <td>{{blockscore.address_postal_code}}</td>
                      </tr>
                    </tbody>
                  </table>
                {{/if}}
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel no-border">
              <div class="panel-heading bg-success lt">
                <div class="m-sm">
                  <span class="h4 text-white">Notifications/Alerts </span>
                </div> 
              </div> 
              <div class="panel-body bg-light">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td>
                        <div class="checkbox">
                          <label class="control-label" for="notifUpdate">
                            <input type="checkbox" class="form-control" id="notifUpdate" {{isUpdateNotifChecked}}>
                            News/Updates
                          </label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="checkbox">
                          <label class="control-label" for="notifPromotion">
                            <input type="checkbox" class="form-control" id="notifPromotion" {{isPromotionNotifChecked}}>
                            Promotions
                          </label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          {{/each}}

        {{else}}
          <div class="col-md-6">
            <div class="panel no-border">
              <div class="panel-heading bg-info lt">
                <div class="m-sm">
                  <span class="h4 text-white">Address</span>
                </div> 
              </div> 
              <div class="panel-body bg-light">
                  <table class="table table-striped">
                    <tbody>
                      <tr>
                        <td>Street</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>City</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>State</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Country</td>
                        <td></td>
                      </tr>
                      <tr>
                        <td>Zip/Postal code</td>
                        <td></td>
                      </tr>
                    </tbody>
                  </table>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="panel no-border">
              <div class="panel-heading bg-success lt">
                <div class="m-sm">
                  <span class="h4 text-white">Notifications/Alerts </span>
                </div> 
              </div> 
              <div class="panel-body bg-light">
                <table class="table table-striped">
                  <tbody>
                    <tr>
                      <td>
                        <div class="checkbox">
                          <label class="control-label" for="notifUpdate">
                            <input type="checkbox" class="form-control">
                            News/Updates
                          </label>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <div class="checkbox">
                          <label class="control-label" for="notifPromotion">
                            <input type="checkbox" class="form-control" >
                            Promotions
                          </label>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        {{/if}}
        </div>
      </div>
    </div>
  </div>
</template>