#blockscore-form .form-control {
	padding: 4px 0px;
}

.deposit-page .panel-heading{
	min-height: 210px;
}

.avatar.thumb-lg i {
  width: 20px;
  height: 20px;
  margin: 3px;
}

.navbar-brand img {
	max-height: 36px !important;
}