<!-- Modal -->
<template name="SellModal">
  <div class="modal fade m-t" id="sellModal" tabindex="-1" role="dialog" aria-labelledby="sellModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title font-bold" id="sellModalLabel">Sell</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="coins" class="control-label">Amount(Coins):</label>
            <input type="text" class="form-control" id="coins">
            <span class="rate-text"></span>
          </div>
          <div class="form-group">
            <label class="control-label"><strong>Total Value:</strong> ${{valueInUSD}}</label><br>
            <label class="control-label"><strong>Fee:</strong> ${{fee}}</label>
          </div>
          <div class="form-group">
            <label class="control-label"><strong>Coins Balance:</strong> {{balance}}</label>
            <span>&nbsp;&nbsp;</span>
            <button type="button" class="btn btn-primary btn-sm sell-all">Sell All</button>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary sell">Sell</button>
        </div>
      </div>
    </div>
  </div>
</template>
