[submodule "packages/cfs:standard-packages"]
	path = packages/cfs:standard-packages
	url = git@github.com:CollectionFS/Meteor-CollectionFS.git
[submodule "packages/http-extras"]
	path = packages/http-extras
	url = git@github.com:chafey/meteor-http-extras.git
[submodule "packages/meteor-autoform-file"]
	path = packages/meteor-autoform-file
	url = git@github.com:liquidautumn/meteor-autoform-file.git
