template(name='FooterApp')
  .app-footer.wrapper.b-t.bg-light
    .row
      .col-md-2 &copy; 2014 Copyright.   
      .col-md-8.text-center
        a.m-r-md(href='#') Terms &amp; Conditions
        a.m-r-md(href='#') Privacy Policy
        a.m-r-md(href='#') Advertise
        a.m-r-md(href='#') Affiliate Program
        a.m-r-md(href='#') Contact Us

      .col-md-2
        span.pull-right
          a.m-l-sm.text-muted
            i.fa.fa-long-arrow-up


template(name='FooterMain')
  .wrapper.bg-light.pos-abt.w-full(style='bottom:0')
      .text-center
        .m-r-md &copy; 2014 Copyright.   
        a.m-r-md(href='#') Terms &amp; Conditions
        a.m-r-md(href='#') Privacy Policy
        a.m-r-md(href='#') Advertise
        a.m-r-md(href='#') Affiliate Program
        a.m-r-md(href='#') Contact Us
