template(name='FooterApp')
  .app-footer.wrapper.b-t.bg-light
    .row
      .col-md-2 &copy; 2015 Copyright.   
      .col-md-8.text-center
        a.m-r-md(href='http://buyanycoin.com/terms-and-conditions') Terms &amp; Conditions
        a.m-r-md(href='http://buyanycoin.com/privacy/') Privacy Policy
        a.m-r-md(href='http://buyanycoin.freshdesk.com') Contact

      .col-md-2
        span.pull-right
          a.m-l-sm.text-muted
            i.fa.fa-long-arrow-up


template(name='FooterMain')
  .wrapper.bg-light.pos-rel.w-full(style='bottom:0')
      .text-center
        .m-r-md &copy; 2015 Copyright.   
        a.m-r-md(href='http://buyanycoin.com/terms-and-conditions') Terms &amp; Conditions
        a.m-r-md(href='http://buyanycoin.com/privacy/') Privacy Policy
        a.m-r-md(href='http://buyanycoin.freshdesk.com') Support
