<template name="Sidebar">
  <ul class="nav nav-list nav-list-vivid">
    <li class="nav-header">Heading</li>
    <li>
      <a href="#">
        Title
        <span class="badge pull-right">19</span>
      </a>
    </li>
    <li class="active">
      <a href="#">
        Title
        <span class="badge pull-right">130</span>
      </a>
    </li>
    <li class="divider"></li>
    <li class="nav-header">Heading</li>
    <li class="disabled">
      <a href="#">
        Title
        <span class="badge pull-right">21</span>
      </a>
    </li>
  </ul>
</template>
