#coinModal.modal.fade.m-t(tabindex='-1' role='dialog' aria-labelledby='coinModal' aria-hidden='true')
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button' data-dismiss='modal')
          span(aria-hidden='true') &times;
          span.sr-only Close
        h4.modal-title.font-bold {{coin.code}} - {{coin.name}}
      .modal-body.coin
        form(role='form')
          .row
            .col-md-2.col-xs-4
              .image-container.thumb-md
                img.img-circle.w-xs(src='img/{{coin.code}}.png')
                i.b-white.top.right(class='{{activeClass}}')
            .col-md-3.col-xs-6
              .h3 Price
              each coin.markets
                strong.rate {{../coin.price secondaryCurrency '0,0.00000000'}} {{secondaryCurrency}}
                br
            .col-md-2.col-xs-2
            .col-md-5.col-xs-12