.modal-header
  button.close(type='button' data-dismiss='modal')
    span(aria-hidden='true') &times;
    span.sr-only Close
  h4.modal-title.font-bold
    a.text-sm: i.fa.fa-arrow-left(data-state="view")
    span.m-l-xs Withdraw {{currency.name}}
.modal-body
  .h4 Withdraw