
.app-content-body.fade-in-up
  .bg-light.lter.b-b.wrapper-md
    h1.m-n.font-thin.h3
      .pull-right
        each currencies
          unless maintenance
            span.m-r-md.text-base {{code}}: {{currentUser.currencyBalance code '0[.]00000000'}}
      span Buy/Sell
  .wrapper-md
    .row
      each currencies
        .col-lg-3.col-md-4.col-sm-6.col-xs-12
          .panel.no-border.coin
            a.panel-heading.bg-default(data-toggle="modal" data-target="#modal" data-template='currencyModal')
              .text-center
                .image-container.thumb-lg.m-b-lg
                  img.img-circle(src='img/{{code}}.png')
                  i.b-white.top.right(class="{{#if maintenance}}busy{{else}}on{{/if}}")
                br
                span.h3.text-info {{name}}({{code}})
                .m-sm
                  span.h4
                    if $neq code 'USD'
                      | {{ask 'USD' '$0.00000000'}}
                    else
                      | &nbsp;
