<template name="Trade">
  <div class="app-content-body fade-in-up">
    <div class="bg-light lter b-b wrapper-md">
      <h1 class="m-n font-thin h3">Buy/Sell</h1>
    </div>
    <div class="wrapper-md">
      <div class="row">
        {{#each currencies}}
          {{> CoinBlock}}
        {{/each}}
      </div>
    </div>
    <div class="wrapper-md">
      <div class="row">
        {{> TransactionHistory}}
      </div>
    </div>
  </div>
  {{> BuySellModal}} 
</template>

<template name="CoinBlock">
        <div class="col-md-3">
          <div class="panel no-border">
            <a class="panel-heading bg-default" data-toggle="modal" data-target="#buySellModal" data-currency="{{code}}" data-name="{{name}}" data-rate="{{rate}}" data-active="{{active}}" >
              <div class="text-center">
                <div class="thumb-lg avatar m-b-lg">
                  <img src="img/{{code}}.png" class="img-circle">
                  <i class="b-white top right {{activeClass}}"></i>
                  <!-- <i class="fa fa-btc fa-5x"></i> -->
                </div> 
                <br>    
                <span class="h3 text-info">{{name}}({{code}})</span>
                <div class="m-sm">
                  <span class="h4"><i class="fa fa-usd"></i>{{roundedRate}}</span>
                </div> 
              </div>
            </a>
          </div>
        </div>
        {{#if isNewRow}}
        <div class="clear"></div>
        {{/if}}
</template>

<!-- Modal -->
<template name="BuySellModal">
  <div class="modal fade m-t" id="buySellModal" tabindex="-1" role="dialog" aria-labelledby="buySellModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>    
          <h4 class="modal-title font-bold" id="buySellModalLabel">MinCoin(MNC)</h4>      
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <div class="col-md-2 col-xs-4">
              <div class="thumb-md avatar">
                <img src="img/{{currency}}.png" class="img-circle w-xs">
                <i class="b-white top right {{activeClass}}"></i>
                <!-- <i class="fa fa-btc fa-5x"></i> -->
              </div>
            </div>
          <div class="col-md-2 col-xs-8">
            <div class="col-md-2 col-xs-4">
              <div class="row">
                <span class="h3">Price</span><br>
                <span><i class="fa fa-usd"></i><b class="rate">32.9</b></span>
              </div>
            </div>
            <div class="col-md-2">
            <div class="col-md-2 col-xs-4">
              {{#if addDepositButton}}
              <div class="row">
                <div class="col-xs-12">
                  <a href="/deposit" class="btn btn-sm btn-success m-b">{{increaseButtonText}}</a>
                </div>
              </div>
              {{else}}
              <div class="row">
                <div class="col-xs-5">
                  {{#if haveBalance}}
                  <button class="btn btn-success m-b {{isInactive}}" data-toggle="modal" data-target="#buyModal" data-currency="{{currency}}" data-rate="{{rate}}">{{increaseButtonText}}</button>
                  {{else}}
                  <button class="btn btn-success m-b no-balance {{isInactive}}">{{increaseButtonText}}</button>
                  {{/if}}
                </div>
              </div>
              {{/if}}
             <div>
               <button class="btn btn-danger {{isInactive}}" data-toggle="modal" data-target="#sellModal" data-currency="{{currency}}" data-rate="{{rate}}">Sell</button>
             </div>     
           </div>          
             <div style="height: 49px;">
                <span>Current Balance</span><br>
                <span class="h4 text-success">{{currencyBalance}} {{currency}}</span>
                <span class="h4 {{display}}"> = <i class="fa fa-usd"></i>{{exchangeBalance}}</span>
             </div> 
              <div>
                {{#if haveBalance}}
                <button class="btn btn-success m-b {{isInactive}}" data-toggle="modal" data-target="#buyModal" data-currency="{{currency}}" data-rate="{{rate}}">{{increaseButtonText}}</button>
                {{else}}
                <button class="btn btn-success m-b no-balance {{isInactive}}">{{increaseButtonText}}</button>
                {{/if}}
              </div>
              <div class="row">
                <button class="btn btn-info {{isInactive}}" data-toggle="modal" data-target="#sellModal" data-currency="{{currency}}" data-rate="{{rate}}">Sell</button>
              </div>
              {{/if}}
          </div>

            <div class="col-md-6">
              <div class="row">
                <div class="col-xs-12 m-b-xs">
                  <span>Current Balance</span><br>
                  <span class="h4 text-success">{{currencyBalance}} {{currency}}</span>
                  <span class="h4 {{display}}"> = {{exchangeBalance}} USD</span>
                </div>
              </div>
              <div class="row">
               <div class="col-md-3">
                  <button class="btn btn-primary" data-toggle="modal" data-target="#withdrawModal">Withdraw</button>
               </div>  
              </div>
            </div>

          <div class="form-group row">            
            {{#if transactions}}
            <table id="currencytxns" class="table table-striped">
              <thead>
                <tr>
                  <th>Transaction</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Amount</th>
                </tr>
              </thead>
              <tbody>
                {{#each transactions}}
                  {{> TransactionDetail}}
                {{/each}}
              </tbody>
            </table>
            {{else}}
            <div class="m">No transaction found for {{currency}}</div>
            {{/if}}
          </div>

        </div>
      </div>
    </div>
  </div>
 </div>  
</template>

<template name="TransactionDetail">
    <tr>
      <td><i class="fa fa-arrow-right text-{{colorClass}}"></i> {{note}}</td>
      <td>{{datetime}}</td>
      <td>{{status}}</td>
      <td class="text-{{colorClass}} fw-b">{{amount}}</td>
    </tr>
</template>


<template name="TransactionHistory">
    <div class="col-lg-12">
      {{#if alltransactions}}
      <table id="transactions" class="table table-striped">
        <thead>
          <tr class="bg-info">
            <!-- <th>S. No.</th> -->
            <th>Currency</th>
            <th>Amount</th>
            <th>Status</th>
            <th>Date</th>
          </tr>
        </thead>
        <tbody>
          {{#each alltransactions}}
            {{> TransactionHistoryDetail}}
          {{/each}}
        </tbody>
      </table>
      {{else}}
      <div>No transaction found.</div>
      {{/if}}
    </div>
</template>

<template name="TransactionHistoryDetail">
    <tr>
      <!-- <td>{{pos}}</td> -->
      <td><i class="fa fa-arrow-right text-{{colorClass}}"></i> {{currency}}</td>
      <td class="text-{{colorClass}} fw-b">{{amount}}</td>
      <td><span class="label label-{{labelColorClass}}" title="{{title}}">{{statusText}}</span></td>
      <td>{{datetime}}</td>
    </tr>
</template>
