<template name="ForgotPassword">
  <div class="app-content-body fade-in-right-big smooth">
    <div class="container w-xxl w-auto-xs">
      <a class="navbar-brand block m-t" href="">BuyAnyCoin</a>
      <div class="m-b-lg">
      {{#if resetPassword}}
        <div class="wrapper text-center">
          <strong>Reset Password</strong>
        </div>
        <form class="form form-validation" id="reset-password" action="action">
          <div class="text-danger wrapper text-center">
              
          </div>
          <div class="list-group list-group-sm">
            <div class="list-group-item">
              <input type="password" required="" class="form-control no-border" id="new-password" placeholder="Password" >
            </div>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Change Password</button>
          <div class="line line-dashed"></div>
          <p class="text-center"><small>Go to Login</small></p>
          <a class="btn btn-lg btn-default btn-block" href="/" >Sign In</a>
        </form>
      {{else}}
        <div class="wrapper text-center">
          <strong>Password Recovery</strong>
        </div>
        <form class="form form-validation" id="recovery-form" action="action">
          <div class="text-danger wrapper text-center">
              
          </div>
          <div class="list-group list-group-sm">
            <div class="list-group-item">
              <input type="email" required="" class="form-control no-border" id="recovery-email" placeholder="Email" style="">
            </div>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Send Reset Instructions</button>
          <div class="line line-dashed"></div>
          <p class="text-center"><small>Go to Login</small></p>
          <a class="btn btn-lg btn-default btn-block" href="/" >Sign In</a>
        </form>
      {{/if}}
      </div>
    </div>
  </div>
</template>
