<template name="SignUp">
  <div class="app-content-body fade-in-right-big smooth">
    <div class="container w-xxl w-auto-xs">
      <a class="navbar-brand block m-t" href="">BuyAnyCoin</a>
      <div class="m-b-lg">
        <div class="wrapper text-center">
          <strong>Sign up and get your coins now!</strong>
        </div>
        <form class="form form-validation" id="register-form" action="action">
          <div class="text-danger wrapper text-center">
              
          </div>
          <div class="list-group list-group-sm">
            <div class="list-group-item">
              <input type="email" required="" class="form-control no-border" id="account-email" placeholder="Email" style="">
            </div>
            <div class="list-group-item">
               <input type="password" required="" class="form-control no-border" id="account-password" placeholder="Password">
            </div>
          </div>
          <button class="btn btn-lg btn-primary btn-block" type="submit">Sign Up</button>
          <div class="line line-dashed"></div>
          <p class="text-center"><small>Already have an account?</small></p>
          <a class="btn btn-lg btn-default btn-block" href="/" >Sign In</a>
        </form>
      </div>
    </div>
  </div>
</template>
