<template name="VerifyEmail">
  <div class="app-content-body fade-in-right-big smooth">
    <div class="container w-xxl w-auto-xs">
      <a class="navbar-brand block m-t" href="">Buy Any Coin</a>
      <div class="m-b-lg">
        <div class="wrapper text-center">
          <strong>Email Verification</strong>
        </div>
        <p class="text-center"><small>{{verifyEmailStatus}}</small></p>
        <a class="btn btn-lg btn-success btn-block" href="/" >Go to your Account</a>
      </div>
    </div>
  </div>
</template>

<template name="EmailVerificationInfo">
  <div class="app-content-body fade-in-right-big smooth">
    <div class="container w-xxl w-auto-xs">
      <a class="navbar-brand block m-t" href="">Buy Any Coin</a>
      <div class="m-b-lg">
        <div class="wrapper text-center">
          <strong>Email Verification</strong>
        </div>
        <p class="text-center">You have not verified your email address yet. To access your account please verify your email by clicking on link that is sent over email.</p>
        <button class="btn btn-lg btn-success btn-block resend" >Resend Verification Link</button>
      </div>
    </div>
  </div>
</template>