<template name="Wallets">
  <div class="app-content-body fade-in-up">
    <div class="bg-light lter b-b wrapper-md">
      <h1 class="m-n font-thin h3">Wallets</h1>
    </div> 

    <div class="wrapper-md">
      <div class="row">
        {{#each currencies}}
          {{> Wallet}}
        {{/each}}
      </div>
    </div>

  </div>
  {{> WalletsModal}}
</template>

<template name="Wallet">
        <div class="col-md-3">
          <div class="panel no-border">
            <a class="panel-heading bg-default" data-toggle="modal" data-target="#walletsModal" data-currency="{{code}}" data-rate="{{rate}}" >
              <div class="text-center m-t-md"> 
                <div class="thumb-lg m-b-lg">
                  <img src="img/{{code}}.png" class="img-circle">
                  <!-- <i class="fa fa-btc fa-5x"></i> -->
                </div> 
                <br>    
                <span class="h3 text-info">{{name}}({{code}})</span>
                <div class="m-sm">
                  <span class="h4"><i class="fa fa-usd"></i>{{roundedRate}}</span>
                </div> 
              </div>
            </a>
          </div>
        </div>
        {{#if isNewRow}}
        <div class="clear"></div>
        {{/if}}
</template>
