<template name="SideBar">
  <div class="app-aside hidden-xs bg-white b-r">
    <div class="aside-wrap">
      <div class="navi-wrap">
      <!-- nav -->
      <nav class="navi">
        <ul class="nav">
          <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
            <span >Navigation</span>
          </li>
           <li>
            <a href="/trade">
              <i class="glyphicon glyphicon-random icon text-primary-dker"></i>
              <span class="font-bold" >Buy/Sell</span>
            </a>
          </li>
<!--           <li>
            <a href="/wallets">
              <i class="glyphicon glyphicon-link icon text-success-dker"></i>
              <span class="font-bold" >Wallets</span>
            </a>
          </li> -->
          <li>
            <a href="/deposit">
              <i class="glyphicon glyphicon-plus icon text-info-dker"></i>
              <span class="font-bold" >Deposit Funds</span>
            </a>
          </li>
          <li>
            <a href="/verification">
              <i class="glyphicon glyphicon-search icon text-success-dker"></i>
              <span class="font-bold" >Verification</span>
            </a>
          </li>
          <li>
            <a href="/account">
              <i class="glyphicon glyphicon-user icon text-primary-dker"></i>
              <span class="font-bold" >Account</span>
            </a>
          </li>
          <li>
            <a class="signout" href="#">
              <i class="fa fa-sign-out icon text-danger-dker"></i>
              <span class="font-bold" >Sign Out</span>
            </a>
          </li>
          <li class="line dk"></li>
        </ul>
      </nav>
      <!-- nav -->
      </div>
    </div>
  </div>
</template>
