<template name="WithdrawHistory">
  <div class="app-content-body fade-in-up">
    <div class="bg-light lter b-b wrapper-md">
      <h1 class="m-n font-thin h3">Withdraw Requests</h1>
    </div>
    <div class="wrapper-md">
      <div role="tabpanel" >
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active"><a href="#pending" aria-controls="pending" role="tab" data-toggle="tab">Pending</a></li>
          <li role="presentation"><a href="#complete" aria-controls="complete" role="tab" data-toggle="tab">Complete</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content bg-white b-r b-b b-l">
          <div role="tabpanel" class="tab-pane active" id="pending">
            {{#if pendingWithdraw}}
            <div class="table-responsive m-b-none b-none">
              <table class="table table-hover m-b-none">
                <thead>
                  <tr>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th>Destination</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each pendingWithdraw}}
                    {{> WithdrawLog}}
                  {{/each}}
                </tbody>
              </table>
            </div>
            {{else}}
            <div class="padder padder-v">
              No pending transactions
            </div>
            {{/if}}
          </div>
          <div role="tabpanel" class="tab-pane" id="complete">
            {{#if completedWithdraw}}
            <div class="table-responsive m-b-none b-none">
              <table class="table table-hover m-b-none">
                <thead>
                  <tr>
                    <th>Currency</th>
                    <th>Amount</th>
                    <th>Destination</th>
                    <th>Time</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each completedWithdraw}}
                    {{> WithdrawLog}}
                  {{/each}}
                </tbody>
              </table>
            </div>
            {{else}}
            <div class="padder padder-v">
              No completed transactions
            </div>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<template name="WithdrawLog">
          <tr>
            <td>{{currency}}</td>
            <td>{{amount}}</td>
            <td>{{destination}}</td>
            <td>{{dateTime}}</td>
          </tr>
</template>
