if currentUser
  .app-aside.hidden-xs.bg-white.b-r
    .aside-wrap
      .navi-wrap
        nav.navi
          ul.nav
            li.hidden-folded.padder.m-t.m-b-sm.text-muted.text-xs
              span Navigation
            li
              a(href='/trade')
                i.glyphicon.glyphicon-random.icon.text-primary-dker
                span.font-bold Buy/Sell
            li
              a(href='/deposit')
                i.glyphicon.glyphicon-plus.icon.text-info-dker
                span.font-bold Deposit Funds
            li
              a(href="{{pathFor 'verification'}}")
                i.glyphicon.glyphicon-search.icon.text-success-dker
                span.font-bold Verification
            li
              a(href='/account')
                i.glyphicon.glyphicon-user.icon.text-primary-dker
                span.font-bold Account
            li
              a.signout(href='#')
                i.fa.fa-sign-out.icon.text-danger-dker
                span.font-bold Sign Out
            li.line.dk